
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        <%= @event.title  %>
      </h1>
      <h2 class="subtitle">
        <%= @event.description %>
      </h2>
    </div>
  </div>
</section>

<div class="container is-fluid">
  <div class="table-container">
    <table class="table is-striped is-fullwidth">
      <tbody>
          <tr>
              <th><%= fa_icon "calendar", class: "has-text-primary" %> Date</th>
              <td><%= @event.date %></td>
          </tr>
          <tr>
              <th><%= fa_icon "globe", class: "has-text-primary"  %> Location</th>
              <td><%= @event.location %></td>
          </tr>
          <tr>
              <th><%= fa_icon "pencil", class: "has-text-primary"  %> Created by</th>
              <td><%= link_to @event.creator.name, user_path(@event.creator) %></td>
          </tr>
          <tr>
              <th><%= fa_icon "users", class: "has-text-primary"  %> Attendees</th>
              <td>
                <% if @event.attendees.any?%>
                  <ul>
                    <% @event.attendees.each do |attendee| %>
                        <li><%= attendee.name %></li>
                    <% end %>
                  </ul>
                    <% end %>
                    <br>
                  <% if @event.date > Time.now && logged_in? && (current_user == @event.creator) %>
                    <%= render "invite_form" %>
                  <% end %>
              </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
