<header class="header">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link_to  "Private Events", root_path, class: "navbar-item title is-3 brand" %>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>


    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to  "Home", root_path, class: "navbar-item" %>
      <% if logged_in? %>
        <%= link_to  "All users", users_path, class: "navbar-item"  %>
      <% end %>

      <% if logged_in? %>
        <div class="navbar-item has-dropdown is-hoverable">

          <a class="navbar-link">
            Hi, <%= current_user.name %>
          </a>

          <div class="navbar-dropdown">
            <%= link_to  "See my page", user_path(current_user), class: "navbar-item" %>
            <a class="navbar-item">
              Edit my page
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Delete account
            </a>
          </div>
        </div>
      <% end %>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
          <% if logged_in? %>
            <%= link_to  "Create a new event", new_event_path, class: "button is-link"  %>
            <%= link_to  "Logout", logout_path, method: :delete, class: "button is-light" %>
          <% else %>
            <%= link_to  "Sign up", new_user_path, class: "button is-link"  %>
            <%= link_to  "Sign in", sign_in_path, class: "button is-link"  %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
